body {
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
}
.container {
    overflow: auto;
    height: 100vh;
    padding: 0px;
  }
  
.table-wrapper {
    position: relative;
    width: 100%;
    margin: 0 ;
}

h1{
    text-align: center;
}
.periodicTable{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    white-space: nowrap;
    overflow-x: auto;
}
th{
    background-color: antiquewhite;
}

.div8B{
    position: absolute;width: 210px;height: 100%;left: 50%;transform: translate(-50%,-50%); background-color: antiquewhite; text-align: center;
}
.periodicTable td,th{
    position: relative;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 70px;

    font-size: 22;
    text-align: center;
}
.chuThich{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 850;

    position: relative;
}
.chuThich table{
    width: 100%;
}
.chuThich td {
    text-align: center;
    padding: 5px;
    font-size: 16;
}
#info{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 20px;

    width: 800;
    background-color: #ffe7fc;
    border-radius: 10px;
    border: 1px solid black;
    padding: 12px;
}

.name{
    position:absolute;
    font-size: 10;
    
    left: 50%;
    bottom: 3;
    transform: translate(-50%);
    margin: 1;
}
.number{
    position:absolute;
    font-size: 12;
    top: 2;
    left: 2;
    margin: 3;
}
.weight{
    position:absolute;
    font-size: 12;
    top: 2;
    right: 2;
    margin: 3;
}
.empty{
    border: none;
    
}
.stcol{
    
    background-color: antiquewhite;
    color: black(83, 67, 67);
}
.phiKim{    
    background-color: #e2eeff;
    border-color: #0060f0;
    color: #0060f0;
    stroke: #0060f0;
}
.klKiemTho{
    background-color: #ffe7e7;
    border-color: #d60024;
    color: #d60024;
    stroke: #d60024;
}
.KlChuyenTiep{
    background-color: #f3e8fd;
    border-color: #6232ec;
    color: #6232ec;
    stroke: #6232ec;
}
.klKiem{
    background-color: #d8f8ff;
    border-color: #00758c;
    color: #00758c;
    stroke: #00758c;
}
.klYeu{
    background-color: #d6f9e8;
    border-color: #227754;
    color: #227754;
    stroke: #227754;
}
.aKim{
    background-color: #fef7e0;
    border-color: #945700;
    color: #945700;
    stroke: #945700;
}
.halogen{
    background-color: #ecd6f9;
    border-color: rgb(94, 11, 69);
    color: rgb(94, 11, 69);
    stroke: rgb(94, 11, 69);
}
.khiHiem{
    background-color: #ffe7eb;
    border-color: #cd1d5e;
    color: #cd1d5e;
    stroke: #cd1d5e;
}
.unknown{
    background-color: #e7e7ea;
    border-color: #3f374f;
    color: #3f374f;
    stroke: #3f374f;
}
.lanTan{
    background-color: #dff3ff;
    border-color: #003355;
    color: #003355;
    stroke: #003355;
}
.actini{
    background-color: #ffe6d4;
    border-color: #c73200;
    color: #c73200;
    stroke: #c73200;
}

.sub:hover{
    transition: 0.3s;
    background-color: black;
    color: white;
    opacity: 50%;
    cursor: pointer;
}
.sub:active{
    transition: 0s;
    background-color: black;
    color: white;
    opacity: 90%;
    cursor: pointer;
}

.selected{
    transition: 0.3s;
    background-color: black;
    color: white;
    opacity: 50%;
    cursor: pointer;
}


